body {
  font-family: lato;
}

h1,
h2,
h3,
p {
  color: white;
}

h1 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 1.2em;
}

strong {
  font-size: 22px;
  color: white;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.search-bar {
  border-radius: 20px;
  border: none;
  background: rgba(241, 241, 241, 0.637);
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
}

.btn {
  border-radius: 20px;
  border: none;
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.1);
  background-color: rgba(241, 241, 241, 0.637);
}

.btn:hover {
  background: rgba(241, 241, 241, 0.637);
}

.current-location-btn:hover {
  background: #457a98;
}

.search-btn:hover {
  background: #457a98;
}

.fa-solid {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 5px 0;
}

.weather-large {
  width: 150px;
  height: 150px;
  margin: -3px 0px 0px 0px;
  color: rgba(253, 253, 253, 0.915);
}

.current-weather {
  margin: 0px 0px 0px -39px;
}

.current-temp {
  font-size: 34px;
  margin: 0;
  color: white;
}

.fahrenheit-link {
  font-size: 18px;
  font-weight: 200;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.735);
}

.fahrenheit-link:hover {
  font-weight: 400;
  cursor: pointer;
  color: white;
}

.celcius-link {
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.735);
}

.celcius-link:hover {
  font-weight: 400;
  cursor: pointer;
  color: white;
}

.temperature-degrees .active {
  color: white;
  cursor: default;
  text-decoration: none;
  font-weight: 400;
}

.temperature-degrees .active:hover {
  text-decoration: none;
}

.current-weather {
  margin-top: 20px;
  padding-left: 60px;
  position: relative;
  left: -18px;
}

.weather-description {
  text-transform: capitalize;
}

.future-forecast {
  margin-top: 20px;
}

.days {
  margin: 5px 0;
}

.degrees {
  margin-top: 10px;
  font-weight: 200;
  font-size: 16px;
}

.divider {
  font-weight: 100;
  color: white;
}
